body {
    background-color: #fae8de;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(54, 57, 58);
}

h1 {
  background-color: #f9f9fb;

}

img {
    height: 150px;
    width: auto;
}

button {
    background-color: ef5ade;
  
}

.index {
  
}